### Import Packages

In [14]:
import goldsberry
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Show Player List

In [18]:
players1516 = goldsberry.PlayerList()
players1516 = pd.DataFrame(players1516.players())
players1516.head()

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,GAMES_PLAYED_FLAG,PERSON_ID,PLAYERCODE,ROSTERSTATUS,TEAM_ABBREVIATION,TEAM_CITY,TEAM_CODE,TEAM_ID,TEAM_NAME,TO_YEAR
0,Jordan Adams,"Adams, Jordan",2014,Y,203919,jordan_adams,1,MEM,Memphis,grizzlies,1610612763,Grizzlies,2015
1,Cliff Alexander,"Alexander, Cliff",2015,Y,1626146,cliff_alexander,1,POR,Portland,blazers,1610612757,Trail Blazers,2015
2,Lou Amundson,"Amundson, Lou",2006,Y,200811,lou_amundson,1,NYK,New York,knicks,1610612752,Knicks,2015
3,James Anderson,"Anderson, James",2010,Y,202341,james_anderson,1,SAC,Sacramento,kings,1610612758,Kings,2015
4,Thanasis Antetokounmpo,"Antetokounmpo, Thanasis",2015,Y,203648,thanasis_antetokounmpo,0,,,,0,,2015

### Seach for Specific Player

In [19]:
players1516.ix[players1516['DISPLAY_LAST_COMMA_FIRST'].str.contains("Curry")]

Empty DataFrame
Columns: [DISPLAY_FIRST_LAST, DISPLAY_LAST_COMMA_FIRST, FROM_YEAR, GAMES_PLAYED_FLAG, PERSON_ID, PLAYERCODE, ROSTERSTATUS, TEAM_ABBREVIATION, TEAM_CITY, TEAM_CODE, TEAM_ID, TEAM_NAME, TO_YEAR]
Index: []

In [20]:
curry_id = '201939'

### Player Game Logs

In [21]:
curry_logs = goldsberry.player.game_logs(curry_id)

In [6]:
curry_game_logs_2015 = pd.DataFrame(curry_game_logs.logs())

{'LeagueID': '00',
 'PlayerID': '201939',
 'Season': '2015-16',
 'SeasonType': 'Regular Season'}

In [7]:
curry_logs_df = curry_logs.get_game_logs()
curry_logs_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22015,201939,0021501227,2016-04-13,GSW vs. MEM,W,30,15,24,0.625,...,3,4,6,2,0,2,2,46,19,1
1,22015,201939,0021501201,2016-04-10,GSW @ SAS,W,35,13,22,0.591,...,5,5,5,2,0,4,4,37,7,1
2,22015,201939,0021501190,2016-04-09,GSW @ MEM,W,34,7,22,0.318,...,9,9,8,1,0,2,1,17,10,1
3,22015,201939,0021501177,2016-04-07,GSW vs. SAS,W,36,11,19,0.579,...,5,5,9,2,0,3,2,27,14,1
4,22015,201939,0021501163,2016-04-05,GSW vs. MIN,L,43,7,25,0.280,...,4,6,15,3,0,3,4,21,3,1

### Team IDs

In [8]:
all_team_ids = nba.get_all_team_ids()
all_team_ids.head()

      TEAM_ID  TEAM_NAME
0           0
1  1610612758      Kings
2  1610612763  Grizzlies
3  1610612760    Thunder
4  1610612752     Knicks

#### Golden State Warriors 2015-2016

In [9]:
warriors_id = nba.get_team_id("Warriors")
warriors_id

1610612744

In [10]:
# Create a Team log object
warriors_logs = nba.TeamLog(warriors_id)

In [11]:
# Create a Dataframe containing the game logs data
warriors_logs_df = warriors_logs.get_game_logs()
warriors_logs_df.head()

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612744,0021501227,2016-04-13,GSW vs. MEM,W,73,9,0.890,240,46,...,0.813,12,39,51,35,7,7,17,14,125
1,1610612744,0021501201,2016-04-10,GSW @ SAS,W,72,9,0.889,240,34,...,0.778,7,39,46,19,7,6,13,18,92
2,1610612744,0021501190,2016-04-09,GSW @ MEM,W,71,9,0.888,240,39,...,0.923,7,41,48,20,3,7,11,14,100
3,1610612744,0021501177,2016-04-07,GSW vs. SAS,W,70,9,0.886,240,45,...,0.909,7,36,43,33,8,2,15,22,112
4,1610612744,0021501163,2016-04-05,GSW vs. MIN,L,69,9,0.885,265,49,...,0.875,9,37,46,35,9,5,23,29,117

### Shot Chart Data

In [13]:
current_season_shots = nba.get_shots()

AttributeError: 'module' object has no attribute 'get_shots'