### Load Packages

In [1]:
import pandas as pd
import numpy as np
import string

### Web Scraping Individual Player Pages

In [2]:
# Load the data
player_df = pd.read_csv('/Users/alexcheng/Desktop/2000_2017_players.csv')

In [3]:
# Drop duplicates
player_df = player_df.drop_duplicates()

player_df.sort_values(by='Players', axis=0, ascending=True)

# Reset index
player_df = player_df.reset_index(drop=True)

In [4]:
player_df.head()

               Players
0   Mahmoud Abdul-Rauf
1    Tariq Abdul-Wahad
2  Shareef Abdur-Rahim
3       Cory Alexander
4   Courtney Alexander

In [5]:
cleaned_player = []

for player in player_df['Players']:
    player = player.lower()
    player = player.strip()
    player = (player.replace(',','').replace('.','').replace("'","").replace('*',''))
    cleaned_player.append(player)
    
player_df['Players'] = cleaned_player

In [6]:
player_df.head()

               Players
0   mahmoud abdul-rauf
1    tariq abdul-wahad
2  shareef abdur-rahim
3       cory alexander
4   courtney alexander

In [7]:
# Change to list
player_list = list(player_df.values.flatten())

# Lowercase names, remove punctuation
# player_list = [player.translate(None, string.punctuation).lower() for player in player_list]

In [8]:
len(player_list)

1609

In [9]:
# Create new columns
temp_first_name = []
last_name = []
last_letter = []
player_id = []
first_two_first_name = []
player_num = []

for name in player_list:    
    temp = []
    temp = name.split()
    temp_first_name.append(temp[0])
    last_name.append(temp[1])
    last_letter.append(temp[1][0])
    player_id.append(temp[1][:5])
    first_two_first_name.append(temp[0][:2])
    player_num.append("01")

In [10]:
first_name = []

for name in temp_first_name:
    first_name.append(name.title())

In [11]:
player_df['first_name'] = first_name
player_df['last_name'] = last_name
player_df['last_letter'] = last_letter
player_df['player_id'] = player_id
player_df['first_two_first_name'] = first_two_first_name
player_df['player_num'] = player_num

In [12]:
# Create 'player_id' column
player_df['player_id'] = player_df['player_id'] + player_df['first_two_first_name'] + player_df['player_num']

# Clean up the columns
player_df = player_df.drop(['last_name', 'first_two_first_name', 'player_num'], axis=1)

In [13]:
player_df.head()

               Players first_name last_letter  player_id
0   mahmoud abdul-rauf    Mahmoud           a  abdulma01
1    tariq abdul-wahad      Tariq           a  abdulta01
2  shareef abdur-rahim    Shareef           a  abdursh01
3       cory alexander       Cory           a  alexaco01
4   courtney alexander   Courtney           a  alexaco01

base_url = "http://www.basketball-reference.com/players/j/jamesle01.html"

In [14]:
for i in player_df:
    url = "http://www.basketball-reference.com/players/" + player_df['last_letter'] + "/" + player_df['player_id'] + ".html"

In [15]:
player_df['url'] = url

In [16]:
player_df['url'].head()

0    http://www.basketball-reference.com/players/a/...
1    http://www.basketball-reference.com/players/a/...
2    http://www.basketball-reference.com/players/a/...
3    http://www.basketball-reference.com/players/a/...
4    http://www.basketball-reference.com/players/a/...
Name: url, dtype: object

In [17]:
player_df.to_csv('/Users/alexcheng/Desktop/2000_2017_cleaned_players.csv', sep=',')